//Common
@import "./common/extend.scss";
// @import "./common/fonts.scss";
@import "./common/minxi.scss";
@import "./common/variables.scss";
@import "./common/global.scss";

//layout
@import "./layouts/main.scss";

@import "./register_form.scss";

// Responsive
@import "./layouts/responsive.scss";

//
@import "./social_buttons";

.show__form__class {
  animation: show__form 700ms forwards;
  transform: translateX(-5%);
}
@keyframes show__form {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0);
  }
}
.form__toggler {
  @include box__shadow;
  margin: auto;
  cursor: pointer;

  padding: 20px;
  width: 220px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid lighten($color: #000000, $amount: 90);
}
