$brandColor: #d3121d;
$fbcolor: #415a95;
$brandred: #f4645f;
$cisferi: #5d88cb;
.formClass {
  opacity: 0;
  // overflow:hidden;
  animation: form1 700ms forwards;
  transition: opacity ease 400ms;

  // button.submit {
  // background: none;
  // color: inherit;
  // border: none;
  // padding: 0;
  // font: inherit;
  // cursor: pointer;
  // outline: inherit;
  // border: 1px solid #888888;
  // padding: 5px 10px;
  // background: none;
  // }
}

@keyframes form1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login__container {
  // overflow:hidden;

  // .register-card {
  //   transition: all ease-in-out 400ms;
  //   animation: modalOpen 900ms;
  //   display: block;
  //   position: absolute;
  //   // position:fixed;
  //   z-index: 1010;
  //   top: 7%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   max-width: 500px;
  //   width: 90%;
  //   max-width: 465px;
  //   border: 0;
  //   padding: 0px 15px 10px 15px;
  //   background-color: rgba(255, 255, 255, 1);
  //   box-shadow: 5px 6px 20px -5px rgba(0, 0, 0, 0.75);
  //   border-radius: 6px !important;
  //   overflow: hidden;
  // }

  // .glowBox {
  //   // background: linear-gradient(135deg, #ce9ffc, #7367f0);
  //   display: block;
  //   background: linear-gradient(135deg, $fbcolor, lighten($fbcolor, 9%));
  //   margin-top: -40px;
  //   padding: 20px 0;
  //   width: 100%;
  //   margin-bottom: 15px;
  //   box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
  //     0 13px 24px -11px rgba(115, 103, 240, 0.6);
  //   border-radius: 6px;
  // }

  // .title {
  //   margin-top: 0.625rem;
  //   margin-bottom: 0.75rem;
  //   // font-size: 1.25rem;
  //   font-size: 1.1rem;
  //   line-height: 1.5em;
  //   text-align: center;
  //   color: #fff;
  // }

  // .socialMedia {
  //   text-align: center;
  //   margin-top: 1rem;
  //   padding: 0;
  // }

  // .socialMedia i {
  //   color: #fff;
  // }

  .desc {
    color: #888888;
    font-size: 14px;
    margin: 0 0 10px;
  }

  .form {
    display: block;
    width: 100%;
    padding: 0.4375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding-bottom: 7px;
    margin: 10px 0 0 0;

    &:focus {
      outline: none;
    }
  }

  input::-webkit-input-placeholder {
    color: #aaa;
  }

  // input:focus::-webkit-input-placeholder {
  //   color: $brandred;
  // }

  .form:focus + .underline {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .underline {
    top: -13px;
    background-color: $brandred;
    display: inline-block;
    height: 2px;
    left: 0px;
    margin-top: -4px;
    position: relative;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: all 0.25s linear;
    width: 100%;
  }
}

$green: #1ecd97;
$gray: #bbbbbb;

button.regsending {
  border: 1px solid transparent !important;
  background-color: white !important;
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  border-color: $gray !important;
  border-width: 3px !important;
  font-size: 0 !important;
  border-left-color: $brandred !important;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: "";
  }
  // &:hover {
  //   color:$green;
  //   background: white;
  //   border-color:$gray !important;
  //   border-left-color:$green !important;
  // }
}
