.btn__background,
.btn__background:before,
.btn__background .fa-icon {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.btn__background:before {
  top: 90%;
  left: -110%;
}
.btn__background .fa-icon {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.btn__background.facebook:before {
  background-color: #3b5998;
}
.btn__background.facebook .fa-icon {
  color: #3b5998;
}
.btn__background.google:before {
  background-color: #dc4a38;
}
.btn__background.google .fa-icon {
  color: #dc4a38;
}

.btn__background:focus:before,
.btn__background:hover:before {
  top: -10%;
  left: -10%;
}
.btn__background:focus .fa,
.btn__background:hover .fa-icon {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  // padding: 10px;
  height: 110px;
  margin: auto;
  font-size: 0;
  text-align: center;
  display: flex;
  justify-content: start;
}
.btn__background {
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 70px;
  line-height: 70px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.btn__background:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn__background .fa-icon {
  font-size: 38px;
  vertical-align: middle;
}
