// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 10%);
$trans-time: 300ms;
$width: 100%;

.group {
  position: relative;
  margin: 45px 0;
}

// INPUT.materialS // ============================== //
textarea.material {
  resize: none;
}

input.material,
textarea.material {
  background: none;
  // color: $muted-color;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input.material[type="password"] {
  letter-spacing: 0.3em;
}

label.material {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}
