.plus_button_parent {
  position: relative;
  height: 30px;
  .addButton__flashcard {
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    position: absolute;
    color: white !important;
    border-radius: 50% !important;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .addButton__flashcard {
      visibility: visible;
      opacity: 1;
    }
  }
}

.flashcard__create__container {
  // margin-top: 15px;
  max-width: 1100px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
  background: #fff;
  min-height: 4.125rem;
  box-shadow: 3px 3px 13px 0 rgba(46, 61, 73, 0.2);
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  // flex-wrap: wrap;
  align-content: center;
  font-size: 18px;
  padding-left: 60px;
  animation: top-to-bottom 700ms forwards;

  & > * {
    flex-grow: 1;
    &:first-child {
      // padding-right: 20px;
    }
  }
  .fl__c__actions {
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    position: absolute;
    // @include rb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
