.card__wrapper {
  perspective: 800px;
  // overflow: hidden;
  width: 100%;
  padding: 0 15px;
}
.card {
  margin: auto;
  /* width: 600px; */
  // width: 34.5rem;
  // height: 18.75rem;
  width: 40.5rem;
  height: 21.75rem;
  max-width: 100%;
  /* perspective: 50px;  */
  perspective: 800px;
}

.card__content {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 375ms ease-in-out !important;
  transform-style: preserve-3d;
  .card__subtitle {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 26px;
    justify-content: center;
  }
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2em 2em 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.24);
}
.card__front {
  // background: pink;
}
.card__back {
  // background: blue;
  transform: rotateX(0.5turn);
}
.card.flipme .card__content {
  transform: rotateX(0.5turn);
}

/* ///////////////// */
.flashcard__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard__navigation .page__num {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.285714285714286;
  color: #97a5aa;
}
.flashcard__navigation button {
  border: 1px solid #f0f0f0;
  font-size: 26px;
  margin: 34px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px 14px;
  padding: 0;
  color: #3ccfcf;
  background: #fff;
  box-shadow: 0 0 0.5rem #f0f0f0;
}
.flashcard__navigation button:focus,
.flashcard__navigation button:hover {
  outline: none;
  background: #f0f0f04d;
}
.flashcard__navigation button span {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.card__slide_in {
  transition: transform 375ms ease-in-out, opacity 120ms linear;
}
.from_right {
  animation: card__from_right 700ms forwards;
}
@keyframes card__from_right {
  from {
    opacity: 0.8;
    transform: translateX(16%) rotateY(-16deg) translateZ(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0) translateZ(0);
  }
}
.from_left {
  animation: card__from_left 700ms forwards;
}
@keyframes card__from_left {
  from {
    transform: translateX(-16%) rotateY(16deg) translateZ(0);
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0) translateZ(0);
  }
}

/* Term */
.term__container {
  margin-top: 15px;
  max-width: 1100px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
  background: #fff;
  min-height: 4.125rem;
  box-shadow: 3px 3px 13px 0 rgba(46, 61, 73, 0.2);
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  // flex-wrap: wrap;
  align-content: center;
  font-size: 18px;
  .term__counter {
    font-weight: 900;
    font-size: 18px;
    width: 5%;
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
      color: green;
    }
    span:nth-child(2) {
      color: red;
    }
  }
}

.term__container .left {
  border-right: 0.125rem solid #f0f0f0;
  width: 31%;
  padding-right: 15px;
}
.term__container .right {
  padding-left: 15px;
  width: 74%;
}
