.flashset__wrapper {
  margin-top: 30px;
  border-radius: 0.3125rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.24);
  //   max-width: 32.5rem;
  border: 1px solid #f1f1f1;
  padding: 20px 10px;
  height: 150px;

  .flashset__head {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.111111111111111;
  }
  .term__counter {
    font-size: 14px;
    margin-top: 15px;
    color: #97a5aa;
  }
  .flashset__user {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #455358;

    img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
    }
  }
  // &:nth(odd) {
  opacity: 0;
  animation: fade-in-right ease 800ms forwards;
  // }
  // &:nth(even) {
  //   opacity: 0;
  //   animation: fade-in-right ease 0.3s forwards;
  // }
}

///////////////////////////
.square {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #4b9cdb;

  margin-left: 35%;
}

.l-7 {
  animation-delay: 1.2s;
}
.load-7 {
  width: 100%;
  padding-top: 15px;
  .square {
    animation: loadingG 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
}

@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
