/*FOOTER*/

footer {
  /*	position: absolute;
        width: 100%;
        bottom: 0;*/

  margin-top: 90px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border-top: 1px solid #cccccc;
  /*margin-top:20px;*/
}

footer .logo {
  color: #555;
  font-size: 22px;
  /*font-family: 'Raleway', sans-serif;*/
}
footer .logo b {
  font-weight: bold;
  color: #eb5844;
}

footer .qoute {
  font-size: 15px;
}

.copyright {
  color: #686f7a;
  margin-top: 10px;
  text-align: right;
  /*color:#3d3d22;
        font-size:10px;
        margin-top:15px;*/
}
@media (max-width: 991px) {
  footer .col-md-4 {
    text-align: center;
    padding: 10px;
  }
}

/* end footer*/
