body,
html {
  height: 100%;
  margin: 0;
}

.home_page {
  font-family: "Monsserrat";
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 560px;
  overflow: hidden;

  .bg,
  .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .bg {
    z-index: -1;
    background-color: #226dbc;
    -webkit-clip-path: polygon(100% 40%, 100% 100%, 75% 100%, 0 100%, 81% 83%);
    clip-path: polygon(100% 40%, 100% 100%, 75% 100%, 0 100%, 81% 83%);
  }

  .bg2 {
    z-index: -2;
    background: #2a5f98;
    -webkit-clip-path: polygon(100% 34%, 100% 100%, 75% 100%, 0 100%, 79% 77%);
    clip-path: polygon(100% 34%, 100% 100%, 75% 100%, 0 100%, 79% 77%);
  }

  .home__container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
  }

  ul {
    list-style-type: none;
    perspective: 1000px;
    li {
      display: grid;
      grid-template-columns: 20% auto;
      border-radius: 10px;
      padding: 15px;
      cursor: pointer;
      transform: rotateY(-15deg) rotateX(10deg);
      position: absolute;
      border-bottom: 4px solid rgba(0, 0, 0, 0.2);
      mix-blend-mode: multiply;
      width: 420px;
      height: 120px;
      align-items: center;
      transition: transform 400ms ease-out;

      .content {
        h4 {
        }
        p {
          margin-top: 5px;
        }
      }
      img {
        width: 70px;
      }
    }
  }
  ul li:hover {
    transform: rotateY(-10deg) rotateX(4deg) scale(1.03);
    z-index: 3;
    mix-blend-mode: normal;
  }
  ul li:nth-child(1) {
    background: #bfe8fc;
    top: -115px;
    z-index: 2;
  }
  ul li:nth-child(2) {
    background: #faffc8;
    z-index: 1;
  }

  ul li:nth-child(3) {
    background-color: rgb(242, 228, 255);
    top: 115px;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
  }

  .left > p {
    color: rgb(73, 73, 73);
    line-height: 1.5rem;
  }
}

$logo__flash_color: #e6e8e9;
.logoText {
  z-index: 100;
  transition: color 375ms ease-in-out;
}
#logo__wrapper {
  // margin-left: 20px;
  position: relative;
  height: 50px;
  width: 50px;

  // @include rb;

  .logo__flash {
    // @include rb;
    position: absolute;
    transform: rotateX(60deg) rotate(45deg);
    background: #ccc;
    border-radius: 20%;
    animation-name: logo__anime;
    animation-iteration-count: infinite;
    // animation-fill-mode: forwards;
    animation-duration: 1300ms;
    transition: ease-in-out;
  }

  .logo__flash:nth-child(1) {
    z-index: 5;
    left: 2%;
    height: 86%;
    width: 86%;
    animation-delay: 500ms;
    background-color: $logo__flash_color;
  }
  .logo__flash:nth-child(2) {
    top: 32%;
    z-index: 4;
    height: 70%;
    width: 70%;
    left: 11%;
    animation-delay: 650ms;
    background-color: darken($logo__flash_color, 10);
  }
  .logo__flash:nth-child(3) {
    left: 14%;
    top: 59%;
    z-index: 3;
    height: 60%;
    width: 60%;
    animation-delay: 750ms;
    background-color: darken($logo__flash_color, 20);
  }

  // @for $i from 1 through 8 {
  //   $width: percentage(1 / $i);
  //   .coldsad-#{$i} {
  //     width: $width;
  //   }
  // }
  // @for $i from 1 through 3 {
  //   .logo__flash:nth-child(#{$i}) {
  //     $width: 46px - $i * 4.5;
  //     top: $i * 16px;
  //     // left: 50%;
  //     // transform: rotateX(60deg) rotate(45deg) translateX($width / 2);
  //     z-index: 5 - $i;
  //     height: 46px - $i * 4.5;
  //     width: $width;
  //   }
  // }
}

@-webkit-keyframes logo__anime {
  0% {
    transform: rotateX(60deg) rotate(45deg);
  }
  60% {
    transform: rotateX(60deg) rotate(135deg);
  }
  100% {
    transform: rotateX(60deg) rotate(135deg);
  }
}

//  {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   margin-left: -50%;
//   width: 90%;
//   height: 90%;
//   /* -webkit-transform: rotateX(60deg) rotate(45deg); */
//   -moz-transform: rotateX(60deg) rotate(45deg);
//   /* transform: rotateX(60deg) rotate(45deg); */
//   z-index: 3;
//   opacity: 1;
// }
#layerslider-logo {
  float: left;
  transform: translateY(10px);
  width: 39px;
  margin: 0 20px 0 30px;
}

.layerslider-logo-layer .layerslider-logo-inner {
  background: #ccc;
}
.layerslider-logo-layer:nth-child(2) .layerslider-logo-inner {
  background: #aaa;
}
.layerslider-logo-layer:nth-child(3) .layerslider-logo-inner {
  background: #888;
}
#layerslider-logo,
#layerslider-logo {
  transform: translateY(24px);
}

.dark-theme .layerslider-logo-layer .layerslider-logo-inner,
.dark-menu .layerslider-logo-layer .layerslider-logo-inner {
  background: #e6e8e9 !important;
}

.dark-theme .layerslider-logo-layer:nth-child(2) .layerslider-logo-inner,
.dark-menu .layerslider-logo-layer:nth-child(2) .layerslider-logo-inner {
  background: #b4b9bc !important;
}

.dark-theme .layerslider-logo-layer:nth-child(3) .layerslider-logo-inner,
.dark-menu .layerslider-logo-layer:nth-child(3) .layerslider-logo-inner {
  background: #81898f !important;
}
