.navbar__wrapper {
  //   @include rb;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 500;

  .navbar__container {
    height: 55px;
    display: flex;
    justify-content: space-between;
  }
}
ul.navbar__menu {
  display: flex;
  height: 100%;
  align-items: center;
  li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    a.link {
      color: black;
      text-decoration: none;
      padding: 10px;
    }
  }
}

.navbar__brand {
  //   @include rb;
  a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    span {
      margin-left: 18px;
      font-size: 20px;
      padding-top: 8px;
    }
  }
}

#navbar-btn {
  display: none;
  z-index: 900;
  outline: none !important;
  border: none;
  background-color: transparent;

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    // background-color: lighten(black,70%);
    background-color: #585858;
    border-radius: 10000px;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar2 {
    width: 18px;
    margin-left: 7px;
  }
}
.change {
  .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px) !important;
  }
  .bar2 {
    opacity: 0 !important;
  }
  .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) !important;
  }
}

@media (max-width: 800px) {
  // #navbar__nav {
  //   display: none;
  // }
  #navbar-btn {
    display: block;
  }
  #navbar__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    &.isActive {
      // PROBLEM
      // min-width: 210px;
      // max-width: 350px;
      width: 80%;
    }
  }
  ul.navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    height: initial;
    li {
      font-size: 20px;
      margin-top: 10px;
      a.link {
        color: white;
      }
    }
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
