.profilePage {
  .header {
    padding: 42px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    // @include rb;
    .user__data {
      display: flex;
      figure {
        width: 116px;
        height: 116px;
        margin-right: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include gb;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        .headline {
          display: flex;
          align-items: center;
          .nickname {
            color: lighten($color: #000000, $amount: 20);
            font-size: 32px;
            font-weight: bold;
            margin-right: 20px;
          }
        }
        .tabs {
          display: flex;
          .tab {
            border: 1px solid black;
            padding: 8px 14px;
            cursor: pointer;
            color: black;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
  .body {
    background-color: rgb(244, 244, 244);
    min-height: 400px;
    padding-top: 40px;
  }

  .fs__g {
    // transform: scaleX(0);
    transform-origin: left;
    // animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
    .fs__g__header {
      // marign-top:20px;
      display: flex;
      align-items: center;
      h6 {
        font-size: 14px;
        font-weight: bold;
        // width: 120px;
        padding-right: 20px;
      }
      .line {
        width: calc(100% - 120px);
        margin-top: -1px;
        border-top: 1px solid black;
      }
    }
    .fs__item {
      position: relative;
      cursor: pointer;
      display: block;
      margin-top: 14px;

      color: #455358;
      background: white;
      // border: 1px solid black;
      padding: 24px 20px;
      .date {
        text-align: right;
        font-style: italic;
        font-size: 14px;
      }
      .counter {
        font-size: 12px;
      }
      h2 {
        margin-top: 4px;
        color: #455358;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.2;
        word-break: normal;
      }
      .actions {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        // flex-direction: column;
        // height: 100%;
        // align-items: center;
        // justify-content: space-between;
        // border: 1px solid red;
      }
    }
  }
}
