.quiz__options[type="radio"]:checked,
.quiz__options[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.quiz__options[type="radio"]:checked + label,
.quiz__options[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  //   display: inline-block;
  //   color: #666;
}
.quiz__options[type="radio"]:checked + label:before,
.quiz__options[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 35%;
  background: #fff;
}
.quiz__options[type="radio"]:checked + label:after,
.quiz__options[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #f87da9;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.quiz__options[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.quiz__options[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.is-correct {
  color: green;
}
.is-wrong {
  color: red;
}

.quiz__container {
  .question {
    font-size: 18px;
    margin: 20px 0;
  }
  .next__question,
  .check__question {
    margin-top: 15px;
  }
}
