.user__flash__info {
  .user__info {
    // @include rb;
    display: flex;

    .__info {
      padding-left: 10px;
      justify-content: space-between;
      .creator {
        font-size: 10px;
      }
      .nickname {
        font-weight: bold;
        font-size: 14px;
      }
    }
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
  }
}
