$brandColor: #226dbc;

@mixin rb {
  border: 1px solid red;
}
@mixin gb {
  border: 1px solid green;
}

@mixin box__shadow {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}
@mixin box__shadow_1 {
  box-shadow: 3px 3px 13px 0 rgba(46, 61, 73, 0.2);
}
.b__shadow1 {
  box-shadow: 3px 3px 13px 0 rgba(46, 61, 73, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
// .numIndex {
//   width: 20px;
//   height: 20px;
//   top: 2px;
//   left: 17px;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid black;
// }

@import "./login/login.scss";

@import "./navbar.scss";

@import "./home.scss";
@import "./profile.scss";
@import "./home_1.scss";

@import "./flashset.scss";

@import "./flashcards.scss";
@import "./user_info.scss";

@import "./flashsetCreate/index.scss";

@import "./bootstrap";

@import "./material/inputs.scss";

@import "./quiz.scss";
@import "./footer.scss";

// @import "./materialize";
.href__n {
  color: inherit;
  text-decoration: none;
}
.square__container {
  // width: 115px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}

.flash__mode {
  position: relative;
  display: flex;
  align-items: center;

  height: 45px;
  width: 112px;
  margin: 0 10px;
  padding-left: 1px;
  padding-right: 5px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0.14rem 0.3rem 0px rgba(0, 0, 0, 0.24);

  text-align: center;
  font-size: 14px;
  font-weight: 700;

  transition: all 120ms cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer;
  img {
    height: 35px;
    margin-right: 2px;
  }
}

.quiz__container {
  padding: 0 15px;
  .question__container {
    min-height: 500px;
    padding: 25px 50px 25px 25px;
    border: 1px solid #0000000a;
    box-shadow: 0.105rem 0 1rem 0 rgba(0, 0, 0, 0.28);
    // border-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    flex-grow: 1;
    .question {
      font-size: 22px;
      text-align: center;
    }
    .option {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid blue;
    }
  }
  .flash__stats {
    width: 200px;
    box-shadow: 0.105rem 0 1rem 0 rgba(0, 0, 0, 0.28);
    // border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateX(-40px);
    background: white;
    // padding: 20px;
    // overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    .flash__stats__item {
      &:first-child {
        border-top-right-radius: 25px;
        border-top: 1px solid #ccc;
      }
      display: flex;
      align-items: center;
      padding-left: 10px;
      border: 1px solid #ccc;
      border-top: none;
      height: 60px;
    }
  }
}

.preview__container {
  .header {
    border-bottom: 1px solid #dddddd;
    margin-left: -25px;
    margin-right: -25px;
    padding: 10px;
  }
}

.mt-m-20 {
  margin-top: -20px;
  font-size: 12px;
}

.anime-top-to-bottom {
  animation: top-to-bottom 700ms forwards;
}
.anime-fade-in-right {
  animation: fade-in-right 700ms forwards;
}
.font-18px {
  font-size: 18px;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.create__flashset {
  position: relative;
  padding-right: 5px;
  i {
    position: absolute;
    top: 2px;
    right: -14px;
    font-size: 14px;
    color: #339af0;
  }
}

.flashset__title {
  text-align: center;
  font-size: 26px;
  position: relative;
  display: inline-block;
  margin: 25px 0 35px 0;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid black;
  }
}
