.home__container {
  background-color: #f4f4f4;
  display: flex;
  height: 450px;
  flex-wrap: wrap;
  overflow: hidden;

  // &:nth-child(1) {
  //   flex: 1 1;
  // }

  // &:nth-child(2) {
  // }
  .left {
    z-index: 50;
    width: 45%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding-left: 6%;
    .title {
      text-align: left;
      transform: translateY(-60px);
      font-size: 25px;
      position: relative;

      &::before {
        position: absolute;
        bottom: -8px;
        border-radius: 10px;
        content: "";
        width: 60px;
        height: 4px;
        background: $brandColor;
      }
    }
    .body {
      margin-top: 25px;
      text-align: left;
      transform: translateY(-40px);
      font-size: 18px;
      max-width: 430px;
    }
  }
  .right {
    position: relative;
    width: 55%;
    .fl__image {
      position: absolute;
      top: 5px;
      right: 40px;
      z-index: 15;
      width: 140px;
      transition: all 0.25s ease-in-out;

      img {
        width: 100%;
      }
    }
  }
}

.fl__wraper {
  position: absolute;
  flex: 0 800px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 710px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  transform-origin: right center;
  right: 0;
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.2);

  .fl__body {
    display: none;
  }

  &:nth-child(2) {
    left: 14px;
    transform: translate3d(18.65px, 41.65px, 0px) rotate(-6.005deg) scale(1);
    z-index: 5;
    .fl__head {
      background-color: #e7645d;
    }
  }
  &:nth-child(3) {
    left: 18px;
    transform: translate3d(6.65px, 38.65px, 0px) rotate(0.67deg) scale(1);
    .fl__head {
      background-color: #fcc363;
    }
  }
  &:nth-child(4) {
    left: 52px;
    transform: translate3d(7.1746px, 12.1746px, 0px) rotate(-2.15238deg)
      scale(1);
    .fl__head {
      background-color: #32b6e8;
    }
  }
  &:nth-child(5) {
    left: 50px;
    z-index: 10;
    transform: translate3d(15.65px, 22.65px, 0px) rotate(1.005deg) scale(1);
    .fl__head {
      background-color: #32b6e8;
    }

    .fl__body {
      display: flex;
      flex-direction: column;
      flex: 1 0 90%;
      justify-content: center;
      text-align: center;
      .term {
        font-size: 18px;
      }
      .definition {
        font-size: 26px;
      }
    }
  }
  &:nth-child(6) {
    left: 40px;
    transform: translate3d(6.65px, 26.65px, 0px) rotate(-1.995deg) scale(1);
    .fl__head {
      background-color: #3fd6ad;
    }
  }

  .fl__head {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .home__container {
    flex-direction: column;
    .left {
      width: 100%;
      height: 240px;
      .title,
      .body {
        transform: translateY(0);
      }
    }
    .right {
      margin-top: -90px;
      width: 100%;
      .fl__image {
        width: 50px;
      }
      .fl__wraper {
        width: 70%;
        height: 250px;
        &:nth-child(2) {
          left: 14%;
          // left: 25%
        }
        &:nth-child(3) {
          left: 18%;
        }
        &:nth-child(4) {
          left: 52%;
        }
        &:nth-child(5) {
          left: 24%;
        }
        &:nth-child(6) {
          left: 40%;
        }
      }
    }
  }
}

// @media (max-width: 576px) {
//   .home__container {
//     .right {
//       .fl__wraper {
//         // height: 160px;
//       }
//     }
//   }
// }

.bubble {
  width: 200pt;
  height: 200pt;
  background: blue;
  border-radius: 100pt;
  margin-top: 50vh;
  position: absolute;

  left: -11px;
  z-index: 10;
  transform: translate3d(15.65px, 22.65px, 0px) rotate(1.005deg) scale(1);
}
